#container {
  width: 600px;
  height: 500px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 70px;
  float: right;
}
.container {
  text-align: center;
  border: 4px solid black;
  padding: 10px;
  display: inline-block;
}

html{
  height: 100%;
  background-color:rgb(199,214,225);
}
.scroller{
  /*position: fixed;*/
  background-color:rgb(172, 184, 194);
  z-index: 1000;
}

.logo{
  float: right;
  max-width: 30%;  
  height: auto; 
}


.title {
  color: #444444;
  background: rgb(199,214,225);
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;  
  text-align: center;
  font-size: 45px;
  height: 200px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-top: -20px;
}

/*CSS for stock Picker drop-down menu*/
.menu {
  display: flex;
  margin-top: 10px;
  height: 40px;
  width: 300px;
  float: right;
  
}

.category {
  position: relative;
  border: 10px solid rgb(199,214,225);
  margin-right: -160px;


}

.category span {
  cursor: pointer;
  padding: 10px;
  background-color: blue;
  color: rgb(199,214,225);;
  border-radius: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 125%;
  left: 0;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;

  width: fit-content;
}

.dropdown a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333333;
  width: fit-content;
}

#text-container { /* middle display */
  width: 600px;
  height: 500px;
  background-color: #c7d6e1;
  border: 3px solid black;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  margin-right: -200px;
  overflow-y: scroll;
  float: right;
  
}
#text-content p {
  margin: 0; /* Reset margin */
  padding: 15px; /* Reset padding */
  text-align: left;
}
.myinput1 {
  width: 110px;
}
.myinput2 {
  width: 60px;
}
.mybutton {
background-color: rgb(79, 212, 79);
}
#sponch {
  display: none;
  z-index: 1000;
}
#troll {
  display: none;
  z-index: 1000;
}
/*End of css for drop-down menu*/

#dataForm{
  width: 260px;
  height: 75px;
  float : left;
}

